# Explore here

In [2]:
# Your code here

import pandas as pd
import numpy as np
import ast

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

from sklearn.datasets import make_regression
from sklearn.datasets import load_wine

from sklearn.model_selection import train_test_split

# supervisado
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor

# no supervisado
from sklearn.neighbors import NearestNeighbors

from sklearn.metrics import accuracy_score

from sklearn.metrics import mean_squared_error, r2_score

import warnings
warnings.filterwarnings('ignore')

#### Paso 1:

In [3]:
movies= pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_movies.csv")
credits= pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_credits.csv")

print(movies["id"])
print(credits["movie_id"])

0        19995
1          285
2       206647
3        49026
4        49529
         ...
4798      9367
4799     72766
4800    231617
4801    126186
4802     25975
Name: id, Length: 4803, dtype: int64
0        19995
1          285
2       206647
3        49026
4        49529
         ...
4798      9367
4799     72766
4800    231617
4801    126186
4802     25975
Name: movie_id, Length: 4803, dtype: int64

#### Paso 2:

In [4]:
# Renombramos la columna "id" en movies a "movie_id" para que coincidan
movies.rename(columns={"id": "movie_id"}, inplace=True)

# Realizamos el merge usando la columna "movie_id"
merged_df = pd.merge(movies, credits, on="movie_id", how="inner")

# Mostramos los primeros registros del DataFrame unificado
merged_df.columns
merged_df.head()

,budget,genres,homepage,movie_id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
# Seleccionar las columnas específicas con .loc
df = merged_df.loc[:, ['movie_id', 'title_x',"title_y", 'overview', 'genres', 'keywords', 'cast', 'crew']]


# Verificar si las columnas "title_x" y "title_y" tienen los mismos datos
print(df['title_x'].equals(df['title_y']))

# Eliminamos una de las columnas y renombramos a "title"
df=df.drop("title_y",axis=1)
df.rename(columns={"title_x": "title"}, inplace=True)
df.head()

True

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

#### Paso 3:

In [6]:
# Función para extraer la lista de 'name' de un JSON y reemplazar la columna
def extract_names(json_str):
    try:
        # Convierte la cadena en un objeto de Python
        json_obj = ast.literal_eval(json_str)
        # Extrae el atributo 'name' de cada diccionario
        return ', '.join([item['name'] for item in json_obj])  # Combina los géneros como una cadena
    except (ValueError, SyntaxError):
        return ''

# Función para obtener los tres primeros nombres del reparto
def extract_top_cast(json_str):
    try:
        json_obj = ast.literal_eval(json_str)
        return ', '.join([item['name'] for item in json_obj[:3]])  # Combina los tres nombres como una cadena
    except (ValueError, SyntaxError):
        return ''

# Transformar y reemplazar las columnas
df['genres'] = df['genres'].apply(extract_names)  # Reemplaza 'genres' por los nombres de los géneros
df['keywords'] = df['keywords'].apply(extract_names)  # Reemplaza 'keywords' por los nombres de las palabras clave
df['cast'] = df['cast'].apply(extract_top_cast)  # Reemplaza 'cast' por los tres primeros nombres del reparto



# Mostrar los primeros registros para verificar
df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","Action, Adventure, Fantasy, Science Fiction","culture clash, future, space war, space colony...","Sam Worthington, Zoe Saldana, Sigourney Weaver","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","Adventure, Fantasy, Action","ocean, drug abuse, exotic island, east india t...","Johnny Depp, Orlando Bloom, Keira Knightley","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"Action, Adventure, Crime","spy, based on novel, secret agent, sequel, mi6...","Daniel Craig, Christoph Waltz, Léa Seydoux","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"Action, Crime, Drama, Thriller","dc comics, crime fighter, terrorist, secret id...","Christian Bale, Michael Caine, Gary Oldman","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","Action, Adventure, Science Fiction","based on novel, mars, medallion, space travel,...","Taylor Kitsch, Lynn Collins, Samantha Morton","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [7]:
# Función para obtener el nombre del director de la columna 'crew'
def get_director(json_str):
    try:
        json_obj = ast.literal_eval(json_str)  # Convierte el string JSON en un objeto Python
        for item in json_obj:
            if item['job'] == 'Director':  # Busca el director en el equipo
                return item['name']  # Devuelve el nombre del director
        return None  # Si no se encuentra un director
    except (ValueError, SyntaxError):
        return None

# Función para convertir 'overview' (resumen) en una lista de palabras
def convert_overview_to_list(text):
    try:
        return text.split()  # Convierte el texto en una lista de palabras
    except AttributeError:  # Maneja valores nulos o no válidos
        return []

# Procesar la columna 'crew' para que solo contenga el nombre del director
df['crew'] = df['crew'].apply(get_director)

# Procesar la columna 'overview' para convertirla en una lista de palabras
df['overview'] = df['overview'].apply(convert_overview_to_list)

df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","Action, Adventure, Fantasy, Science Fiction","culture clash, future, space war, space colony...","Sam Worthington, Zoe Saldana, Sigourney Weaver",James Cameron
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","Adventure, Fantasy, Action","ocean, drug abuse, exotic island, east india t...","Johnny Depp, Orlando Bloom, Keira Knightley",Gore Verbinski
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","Action, Adventure, Crime","spy, based on novel, secret agent, sequel, mi6...","Daniel Craig, Christoph Waltz, Léa Seydoux",Sam Mendes
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","Action, Crime, Drama, Thriller","dc comics, crime fighter, terrorist, secret id...","Christian Bale, Michael Caine, Gary Oldman",Christopher Nolan
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","Action, Adventure, Science Fiction","based on novel, mars, medallion, space travel,...","Taylor Kitsch, Lynn Collins, Samantha Morton",Andrew Stanton

In [8]:
# Función para quitar los espacios en los elementos de una lista o cadenas de texto
def remove_spaces(value):
    if isinstance(value, list):  # Si el valor es una lista
        return [item.replace(' ', '') for item in value]  # Elimina los espacios de cada elemento
    elif isinstance(value, str):  # Si el valor es una cadena de texto
        return value.replace(' ', '')  # Elimina los espacios
    else:
        return value  # Devuelve el valor sin cambios si es otro tipo

# Aplicar la función a las columnas correspondientes
df['genres'] = df['genres'].apply(remove_spaces)
df['cast'] = df['cast'].apply(remove_spaces)
df['crew'] = df['crew'].apply(remove_spaces)
df['keywords'] = df['keywords'].apply(remove_spaces)

df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","Action,Adventure,Fantasy,ScienceFiction","cultureclash,future,spacewar,spacecolony,socie...","SamWorthington,ZoeSaldana,SigourneyWeaver",JamesCameron
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","Adventure,Fantasy,Action","ocean,drugabuse,exoticisland,eastindiatradingc...","JohnnyDepp,OrlandoBloom,KeiraKnightley",GoreVerbinski
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","Action,Adventure,Crime","spy,basedonnovel,secretagent,sequel,mi6,britis...","DanielCraig,ChristophWaltz,LéaSeydoux",SamMendes
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","Action,Crime,Drama,Thriller","dccomics,crimefighter,terrorist,secretidentity...","ChristianBale,MichaelCaine,GaryOldman",ChristopherNolan
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","Action,Adventure,ScienceFiction","basedonnovel,mars,medallion,spacetravel,prince...","TaylorKitsch,LynnCollins,SamanthaMorton",AndrewStanton

In [9]:
# Función para limpiar espacios y comillas extras
def clean_string(value):
    # Eliminar espacios extras y comillas no deseadas
    return ' '.join(str(value).replace("'", "").split())

# Función para combinar todas las columnas en una sola cadena
def combine_columns(row):
    # Limpiar y combinar los valores de todas las columnas
    return ' '.join([
        clean_string(row['overview']),
        clean_string(row['genres']),
        clean_string(row['keywords']),
        clean_string(row['cast']),
        clean_string(row['crew'])
    ])

# Crear la nueva columna 'tags' combinando las columnas procesadas
df['tags'] = df.apply(combine_columns, axis=1)

# Reemplazar comas por espacios en blanco en la columna 'tags'
df['tags'] = df['tags'].str.replace(',', '')

# Mostrar el primer valor de la columna 'tags' para verificar
df["tags"][0]

'[In the 22nd century a paraplegic Marine is dispatched to the moon Pandora on a unique mission but becomes torn between following orders and protecting an alien civilization.] ActionAdventureFantasyScienceFiction cultureclashfuturespacewarspacecolonysocietyspacetravelfuturisticromancespacealientribealienplanetcgimarinesoldierbattleloveaffairantiwarpowerrelationsmindandsoul3d SamWorthingtonZoeSaldanaSigourneyWeaver JamesCameron'

#### Paso 4:

Vectorizar:

In [ ]:
df_final=df.loc[:,["movie_id","title","tags"]]

#Convertir todo a minúscula y quitar espacios:

df_final["title"] = df_final["title"].str.strip().str.lower()
df_final['title'] = df_final['title'].str.replace(" ", "")
df_final["tags"] = df_final["tags"].str.strip().str.lower()
df_final['tags'] = df_final['tags'].str.replace(" ", "")
df_final.head()

,movie_id,title,tags
0,19995,avatar,[inthe22ndcenturyaparaplegicmarineisdispatched...
1,285,piratesofthecaribbean:atworld'send,[captainbarbossalongbelievedtobedeadhascomebac...
2,206647,spectre,[acrypticmessagefrombond’spastsendshimonatrail...
3,49026,thedarkknightrises,[followingthedeathofdistrictattorneyharveydent...
4,49529,johncarter,"[johncarterisawar-wearyformermilitarycaptain""w..."